<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work-List</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>


    <!-- To display output <%= %> inside HTML -->
    <!-- To NOT display output <% %>  inside HTML -->

    <div class="box" id="heading">
        <% if (workDays == "Wednesday" || workDays == 'Saturday') {%>
        <h1 class="box" style="color: yellowgreen;"> Working day = <%=workDays%></h1>
        <% } else {%>
        <h1 style="color:lightblue;"><%=workDays%></h1>
        <% } %>
    </div>
    <!-- Make appear new input form -->

    <div class="box">
        
        <% task.forEach(item => { %>
        <div class="item">

            <!--  <p>Array of new item : <%=task%></p>    -->
            <input type="checkbox">
            <p><%=item%></p>

        </div>
        <% }); %>


        <form class="item" action="/work" method="post">
            <input type="text" name="newItem" placeholder="+ new item" autocomplete="off">
            <button type="submit">+</button>
        </form>
    </div> 

</body>

</html>