<%- include('partials/header') %> 

    <h1>Home</h1>
    <p><%=pageContent%> </p>

    <% posted.forEach(item => { %>
        <h3><%=item.postedTitle%></h3>
        <p class="main"><%= item.postedMsg.substring(0, 100) + " ..." %> </p>
        <a href="/post/<%=item.postedTitle%>">Read More</a>
    <% }); %>
    
    <%# for (let index = 0; index < posted.length; index++) { %>
    <%#     let title = posted[index].postedTitle; %>
    <%#     let msg = posted[index].postedMsg; %>
    <%#     console.log("the title is "+ title+ " and message is "+ msg); }%>
   
    <%# console.log(posted); %>

<%- include('partials/footer') %> 
